<div class="too-large">
  <h1><%= t('levels.size.too_large.title') %></h1>
  <p><%= t('levels.size.too_large.description') %></p>
</div>
<div class="just-right">
  <p><%= t('levels.size.just_right.thank_you') %></p>
  <%= link_to t('levels.size.just_right.continue'), root_url %>
</div>
<div class="too-small">
  <h1><%= t('levels.size.too_small.title') %></h1>
  <p><%= t('levels.size.too_small.description') %></p>
</div>